@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@tailwind utilities;

:root{
  --ff-primary: "Playfair", serif;
  --ff-secondary: "Quicksand", sans-serif;

  --color-primary-100: #fafafa;
  --color-primary-200: #FF9B42;
  --color-primary-300: #130303;

}

*{
  box-sizing: border-box;
  font-optical-sizing: auto;
}

*::after{
  box-sizing: border-box;
} *::before{
  box-sizing: border-box;
}

section{
  margin-top: calc(var(--spacing) * 10)
}

p{
  font-family: var(--ff-secondary);
}